* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
    font-family: Roboto, helvetica, sans-serif;
    background-color: rgb(233, 221, 232);
}

header,
main,
footer {
    max-width: 760px;
    margin: 0 auto;
}


h1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 3rem;
   
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}

h2 {
    grid-column: 1 / span 3;
    color: navy;
    text-align: left;
    margin-top: 3rem;
}

h3 {
    margin-bottom: 0.5rem;
}

article p {
    text-align: justify;
}

section{
    border: 1px solid #ccc;
    padding: 1.5rem;
    border-radius: 10px;
    
}

.callout {
    padding: 1.5rem;
    background-color: #71b6e4;
    grid-column: 1 / span 3;
    border-radius: 10px;
}

.banner {
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #71b6e4;
    font-weight: 700;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
}


footer {
    margin-top: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    font-size: smaller;
}
    