body {
    font-family: "Roboto", sans-serif;
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid #ccc ;
    background-color: rgb(87, 182, 226);
    padding: 2rem;
}

header,footer {
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

section {
    padding: 2rem;
    background-color: #efeaea;
}


