body {
    margin: 0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto 1fr auto;
    font-family: serif;
    max-width: 800px;
    margin: 0 auto;
}

header {
    grid-column: 1 / span 2;
    background-color: #333333;
    color: white;
}

.header-title {
    padding: 40px 20px;
    font-size: 1.5rem;
}

nav {
    background-color: #000000;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 15px 0;
}

nav li {
    font-weight: bold;
}

main {
    grid-column: 1;
    background-color: #cccccc;
    padding: 20px;
    min-height: 300px;
    color: #333;
    font-size: 1.2rem;
}

aside {
    grid-column: 2;
    background-color: #ffffff;
    padding: 20px;
    color: #333;
    font-size: 1.2rem;
}

footer {
    grid-column: 1 / span 2;
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 40px 0;
    font-size: 1.5rem;
}