body {
    font-family: "Cormorant Upright", serif;
    font-weight: 600;
    margin: 0 auto;
    max-width: 1300px;
    word-spacing: 0.5px;
}

header {
    background-color: rgb(28, 57, 97);
    color: white;
    text-align: center;
}

#course-title {
    display: block;
    font-size: 1.5rem;
    margin-bottom: 20px;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: rgb(39, 37, 37);
    margin: 0;  
}

nav a {
    color: white;
    padding: 10px 0;
    text-decoration: none;
    padding:18px;
}

nav a:hover {
    text-decoration:underline;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    padding: 10px;
}

h1 {
    grid-column: 1 / span 2;
    text-align: center;
}

.card {
    border: 1px solid #ccc;
    border-radius: 10px;
}

.card h2 {
    background-color: rgb(28, 57, 97);
    color: white;
    margin: 0;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}

.card-container {
    display: flex;
    gap: 20px;
    margin: 10px;
}

.card-container img {
    width: 150px;
    height: auto;
    box-shadow: 2px 3px 5px;
}

.card-container,
.smooth-container {
    display: flex;
    gap: 10px;
    padding: 20px;
}
 
h3{
    text-align: center;
    margin: 0;
}

hr {
    width: 55%;
}

.smooth-container img{
    width: 180px;
    height: 200px;
}

figcaption{
    text-align: center;
}

.site{
    padding: 100px;
    margin: auto;
}

footer {
    background-color: rgb(28, 57, 97);
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 20px;
}

#lastModified{
    color: yellowgreen;
}
    
    

