* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: rgb(181, 26, 26);
    --secondary-color: rgb(214, 214, 69);
    --accent1: white;
    --accent2: rgb(255, 255, 255, 0.8);
    
}

body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
}

header {
    background-color: var(--primary-color);
    color: var(--accent1);
    border-bottom: solid var(--secondary-color) 15px;
    text-align: center;
    padding: 1.7rem;
    font-size: larger;
}

header img {
    width: 100px;
    height: auto;
    position: absolute;
    top: 3px;
    left: 0;
}

.hero{
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

picture img{
    border-bottom: solid var(--secondary-color) 5px;
}

.card {
    padding: 10px;
    margin: 30px;
    text-align: center;
}

.stats {
    list-style: none;
    margin: 1rem;
}

.stats li {
    display: flex;
    justify-content: center;
    padding: 0.35rem;
    gap: 0.9rem;
}

.stats span:first-child {
    font-weight: 700;
}

.weather-icon-mobile {
    display: block;
    max-width: 70px;
    height: auto;
    margin: 0.5rem auto;
}

footer {
    background-color: var(--primary-color);
    color: var(--accent1);
    text-align: center;
    padding: 2rem;

}

h2 {
    font-size: 20px;
}


@media screen and (min-width: 1000px ) {
    .hero {
        position: relative;
        display: block;
    }

    .hero img {
        border-bottom: none;
    }

    .card {
        position: absolute;
        background: var(--accent2);
        width: 250px;
        padding: 30px;
        margin: 0;
        border-radius: 30px;
    }

    }
    
    .data {
        top: 20px;
        left: 20px;
    }
    
    .weather {
        bottom: 20px;
        right: 20px;
    }

    section.weather img.weather-icon-mobile {
        display: none;
    }
    
    #weather-heading::after {
        content: " 🌥️";
    }

    .card h2 {
        margin: 0 0 0.5rem;
        padding: 0.5rem;
        border: 2px solid var(--primary-color);
        color: inherit;
        text-align: left;
        border-radius: 30px;
    }
}
























