:root {
    --primary-color: rgb(169, 216, 229);
    --accent-color: #dcedf4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    background-color: var(--accent-color);
}

header {
    background-color: var(--primary-color);
    padding: 1.5rem;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;  
}

nav {
    display: flex;
    justify-content: right;
}

nav a {
    display: none;
    text-decoration: none;
    color: inherit;
    padding: 1rem;
}

nav a:hover {
    transform: translateX(-4px);
    text-decoration: underline;
}

#menu {
    border: 0;
    background: none;
    color: #000;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "✖";
    font-size: 0.8rem;
}

nav.open a {
    display: flex;
}

main {
    max-width: 1000px;
    margin: 1rem auto;
    padding: 3rem;
}

h1 {
    margin-bottom: 2rem;
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

figure {
    background-color: white;
    padding: 1rem;
    border-radius: 6px;
    text-align: center;
}

figure img {
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3;
    border-radius: 4px;
}

footer {
    text-align: center;
    background-color: var(--primary-color);
    padding: 1.5rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    
}
