@media screen and (min-width: 500px) {
    header, footer { 
    max-width: 1200px;
    margin: 0 auto;
    }

    main {
        max-width: 1100px;
        margin: 2rem auto;
        padding: 1rem;
           }


    .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 3rem;
    }


    #menu {
            display: none;
        }
    
        nav a {
            display: flex;
        }
}